@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5px;
  position: sticky;
  overflow: hidden;
  top: 0;
  background-color: white;
}

.brand-name {
  padding: 10px;
  font-size: larger;
}

.navbar > div:nth-child(2) {
    justify-self: right;
    padding: 10px;
}
.hamburger{
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-btn {
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  border: none;
  padding: 3px;
}
.nav-btn:hover {
  /* background-color: #f2bfa4; */
  background-color: #cbedfa;
  border-radius: 20px;
  padding: 3px;
}

.btn-element {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #ffff;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.btn-element:hover {
  background-color: #000000;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
}

.home-element {
  padding: 20px;
  background-color: #cbedfa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
.home-content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

@keyframes gradientFill {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  /* background-color: #e2e1e0; */
  background-image: linear-gradient(to top, #a1e2fc, white);
  background-size: 100% 200%; /* Ensure the gradient covers the entire element */
  animation: gradientFill 1s ease 1; /* Apply the animation */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-element {
  margin-bottom: 15px;
}

.form-element label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-element input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-element textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 300px;
  white-space: normal;
  overflow-wrap: break-word;
}

.delete-btn {
  background-color: #ec1a1a;
  margin: 5px;
}

.about-container {
  padding: 1rem;
  background-color:#cbedfa;
  margin: 0.5rem;
  border-radius: 20px;
  list-style-type: square;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.yourpost-btns{
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 480px) {
  .home-title {
    font-size: 1.2rem;
  }
  .nav-elements {
    font-size: 0.8rem;
  }

  .form-container {
    width: 80%;
  }

  .about-container{
    margin: 0.8rem;
  }
}

.login-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #0056b3;
  text-decoration: underline;
}